footer{
    height: 13rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#031e29;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.copyright-label{
    display: flex;
    justify-content: center;
    background-color:#00323f;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright-label p{
    color: rgb(210, 210, 210);
    font-family: system-ui;
    white-space: nowrap;
    font-size: small;
    margin: 0;
}

.links-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.links-container p{
    color: white;
    font-family: system-ui;
    font-weight: 100;
    margin: 0;
    line-height: 2rem;
    cursor: pointer;
}

h1{
    color: white;
    font-family: system-ui;
    font-weight: lighter;
    margin: 0;
}

.social-links-container h2{
    color: white;
    font-family: system-ui;
    font-weight: 100;
    margin: 0;
    font-size: xx-large;
}



.social-links{
    display: flex;
    align-items: center;
}

.social-links:hover{
    opacity: 0.8;
}

.social-links:active{
    opacity: 0.6;
    transition: none;
}

.social-links img{
    height: 1.4rem;
}

.social-links p{
    color: white;
    margin: 0.4rem;
    font-family: system-ui;
    cursor: default;

}

.contacts-container p{
    color: white;
    font-family: system-ui;
    font-weight: 100;
    margin: 0;
    line-height: 2rem;
    cursor: pointer;
}

.subscription-section{
    display: flex;
    justify-content:flex-start;
    padding-right: 1rem;
}

.subscription-section-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subscription-section-content h2{
    color: white;
    font-family: system-ui;
    font-weight: lighter;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 1rem;
}

.ask-for-games-bar{
    padding:1rem;
    border-radius:.4rem;
    border: none;
    font-size: medium;
}

.ask-for-games-bar:focus{
    outline: none;
}

.submit-button{
    background-color: #009898;
    color: white;
    font-size: large;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    border-radius: .4rem;
    border: none;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
}

.submit-button:hover{
    opacity: 0.8;
}

.submit-button:active{
    opacity: 0.6;
    transition: none;
}