html{
    height: 100%;
    width: 100%;

}

body{
    margin: 0;
    padding-bottom: 15rem;
    position: relative;
    font-family: system-ui;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
}

a{
  text-decoration: none;

}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 10;
}

.header-content{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: white;
    flex: 1;
}

.right-section{
    display: flex;
}

.left-section{
    margin: 0.4rem;
}

#logo{
    color: rgb(255, 255, 255);
    padding: .11rem .50rem;
    font-size:2rem;
    margin: 0;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
}

.middle-section{
    display: flex;
    flex: 1;
    justify-content: center;
}

.searchbar{

    border-radius:.5rem;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    width: 15rem;
    flex: 1;
    max-width: 35rem;
    margin: 0 .9rem;
    caret-color: rgb(172, 118, 74);
    min-width:1rem;
    transition: .30s;
    font-size: medium;
    border: solid 0.030rem rgb(182, 111, 53);
}

.searchbar:focus{
  padding: .4rem .5rem;
}

.signup-button,
.home-button,
.about-button,
.login-button{
   border:none;
    padding: .5rem .7rem;
    border-radius: .31rem;
    color: white;
    backdrop-filter: blur(10px);
    background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
    margin: .8rem;
    font-weight: bold;
    white-space: nowrap;
    
}

.signup-button:hover,
.home-button:hover,
.about-button:hover,
.login-button:hover{
  transition:.20s;
  background-color: rgba(65, 65, 65, 0.2);
}

.signup-button:active,
.home-button:active,
.about-button:active,
.login-button:active{
  background-color: rgba(0, 0, 0, 0.2);
}


  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
  }

.grid-box{
padding: 2rem;
margin-top: 2rem;
display: grid;
grid-template-columns: 1fr 1fr;
}

@media (max-width:510px) {
  .grid-box{
    grid-template-columns: 1fr;
    transition: max-width 400ms ease-in-out .20ms ;
  }
}

.grid-box div{
padding: 1rem;
border: none;
border-radius: .6rem;
background: white;
margin: 1rem 1rem 0 1rem;
font-family: system-ui;
font-weight: 100;
flex: 1;
}

.grid-box div p{
  font-family: system-ui;
  font-weight: 100;
  line-height: 2rem;
  margin: .10rem;
}

.grid-box div h1{
  font-family: system-ui;
  font-weight: 100;
  margin-top: .10rem;
  background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grid-box h3{
  font-family: system-ui;
  font-weight: 100;
  margin: 1rem 0rem;
  background-image:linear-gradient(to bottom right, rgb(192, 151, 97), rgb(131, 101, 44));
  -webkit-background-clip:text;
  background-clip:text;
  color: transparent;

}

.end-about{
display: flex;
border: none;
border-radius: .6rem;
background: white;
margin:0 3rem;
font-family: system-ui;
font-weight: 100;
overflow: hidden;
justify-content: space-between;
}

.end-about p{
  font-family: system-ui;
  font-weight: 100;
  line-height: 2rem;
  margin: .10rem;
  
}



.end-about  h1{
  font-family: system-ui;
  font-weight: 100;
  margin-top: .10rem;
  margin-bottom: 0;
  background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.end-about-content{
display: flex;
flex-direction: column;
flex: 1;
padding: 1rem;
}

.end-svg{
  margin-left: 1rem;
  overflow: hidden;
  margin-left: 1rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.end-img{
height:15rem;
width:15rem;
}



footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}

.footer-content{
 display: flex;
 background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
  justify-content: space-between;
  backdrop-filter: blur(3px);

}

.links-container{
  display: flex;
  flex-direction: column;
  padding: .2rem;
  justify-content:space-between;
  align-items: center;
  margin:.4rem .4rem ;
  background-color: white;
  border: none;
  border-radius: .5rem;
  transition: .30s ease-in-out;
  flex:1;
}

.links-container h2{
  margin:0;
  background-image:linear-gradient(to bottom right, rgb(190, 148, 93), rgb(143, 108, 44));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: system-ui;
  font-weight: 100;
}

.links-container p{
  text-decoration: none;
  margin: .34rem;
  font-family: system-ui;
  font-weight: 100;
  line-height: 1.5rem;
  transition: .30s ease-in-out;
}

.links-container p:hover{
  background-image:linear-gradient(to right bottom, rgb(255, 219, 143), rgb(240, 193, 105)) ;
  padding: 0.1rem 0.30rem;
  border-radius: .28rem;
}

.links-container p:active{
  background: rgb(192, 143, 38);
  opacity: 0.6;
}

.links-container a{
  text-decoration: none;
  color: black;
}

.news-letter-container{
  display: flex;
  flex-direction: column;
  padding: .2rem;
  align-items: center;
  margin:.4rem .4rem ;
  background-color: white;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 50rem;
}

.news-letter-container h2{
  margin: 0;
  margin-bottom: .5rem ;
  background-image:linear-gradient(to bottom right, rgb(201, 153, 90), rgb(139, 102, 32));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: system-ui;
  font-weight: 100;
}

.news-letter{
  border: solid .15rem rgb(216, 160, 96);
  border-radius:.5rem;
  height: 2rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  min-width:1rem;
  max-width: 35rem;
  margin: 0 .9rem;
  caret-color: rgb(116, 75, 0);
  min-width:1rem;
  transition: .30s;
  font-size: medium;
  font-family: system-ui;
  font-size: 1rem;
  font-weight: 100;
}

.news-letter input{
  display: flex;
  flex: 1;
}

.news-letter::placeholder{
  font-family: system-ui;
  font-size: 1rem;
  font-weight: 100;
}

.news-letter:focus{
  padding:.4rem .5rem;
}

.news-letter-button{
border:none;
background-image:linear-gradient(to bottom right, rgb(233, 188, 129), rgb(187, 152, 86));
 padding: .5rem .7rem;
 border-radius: .31rem;
 color: white;
 backdrop-filter: blur(10px);
 margin: .8rem;
 font-weight: bold;
 white-space: nowrap;
 transition: .30s;
 font-size: larger;
 font-weight: 100;
}

.news-letter-button:hover{
opacity: .7;
background-image:linear-gradient(to bottom right, rgb(209, 158, 90), rgb(121, 93, 42));
transition: background-color .30s ease-in-out;
}

.news-letter-button:active{
background: rgb(221, 163, 86);
opacity: 0.6;
}


