html{
    height: 100%;
    width: 100%;

}

body{
    margin: 0;
    font-family: system-ui;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 15rem;
}

a{
  text-decoration: none;

}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 10;
    border-bottom:solid 2px;
    border-bottom-color:pink;
    border-radius: .5rem;
    border-bottom-left-radius:.5rem ;
    border-bottom-right-radius:.5rem ;
}

.header-content{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 1);
    flex: 1;
}

.right-section{
    display: flex;
    flex: 1;
    justify-content:flex-end;
    margin-right: 1rem;
}

.left-section{
    margin: 0.4rem;
}

#logo{
    color: rgb(255, 255, 255);
    padding: .11rem .50rem;
    font-size:2rem;
    margin: 0;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    background-image:linear-gradient(to bottom right,  rgb(255, 114, 243), rgb(255, 228, 77));
}

.middle-section{
    display: flex;
    flex: 1;
    justify-content: center;
}

.searchbar{
    border: solid .15rem pink;
    border-radius:.5rem;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    width: 15rem;
    flex: 1;
    max-width: 35rem;
    margin: 0 .9rem;
    caret-color: rgb(255, 164, 194);
    min-width:1rem;
    transition: .30s;
    font-size: medium;
}

.searchbar:focus{
  padding: .4rem .5rem;
}


  body {
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 7rem;
  }

h1{
    color: white;
    margin:.3rem;
    font-family: system-ui;
    font-weight: 100;
    font-size:760%;
    letter-spacing: 1rem;
  }


  main{
    margin:1rem;
  }
  
  .grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
  }
  
  @media (max-width:760px) {
    .grid-box{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width:495px) {
    .grid-box{
      grid-template-columns: 1fr;
    }
  }
  
  .grid-content{
    border-radius: .5rem;
    display: inline-block;
    background-color: rgb(255, 245, 231);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .grid-image{
    height: 10rem;
  
  }

  button{
    background-image:linear-gradient(to right bottom,  rgb(255, 113, 236), rgb(255, 228, 76));
    border-radius: .4rem;
    padding: .5rem;
    border: none;
    color: white;
    font-family: system-ui;
    font-size: medium;
    font-weight: 100;
    white-space: nowrap;
    margin: .5rem;
  }

  button:hover{
    opacity: .7;
    background-image:linear-gradient(to bottom right,  rgb(218, 76, 223), rgb(235, 152, 27));
    transition: .30s ease-in-out;
  }
  
  button:active{
    background: rgb(255, 143, 205);
    opacity: 0.6;
  }

  /* main */

.animal-name,
.about-animal,
.adopt-animal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem;
}

.animal-name p{
  font-family: system-ui;
  font-size: larger;
  font-weight: 100;
}

.animal-about{

}

/*footer*/
  footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

  }

  .footer-content{
   display: flex;
    background-image:linear-gradient(to right bottom,  rgb(255, 113, 236), rgb(255, 228, 76));
    justify-content: space-between;
  }

  .links-container{
    display: flex;
    flex-direction: column;
    padding: .2rem;
    justify-content:space-between;
    align-items: center;
    margin:.4rem .4rem ;
    background-color: white;
    border: none;
    border-radius: .5rem;
    transition: .30s ease-in-out;
    flex:1;
  }

  .links-container h2{
    margin:0;
    background-image:linear-gradient(to right bottom,  rgb(199, 0, 172), rgb(255, 72, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: system-ui;
    font-weight: 100;
  }

  .links-container p{
    text-decoration: none;
    margin: .34rem;
    font-family: system-ui;
    font-weight: 100;
    line-height: 1.5rem;
    transition: .30s ease-in-out;
  }

  .links-container p:hover{
    background-image:linear-gradient(to right bottom, rgb(255, 212, 219), rgb(255, 227, 137)) ;
    padding: 0.1rem 0.30rem;
    border-radius: .28rem;
  }

  .links-container p:active{
    background: rgb(255, 143, 205);
    opacity: 0.6;
  }

  .links-container a{
    text-decoration: none;
    color: black;
  }

  .news-letter-container{
    display: flex;
    flex-direction: column;
    padding: .2rem;
    justify-content:space-between;
    align-items: center;
    margin:.4rem .4rem ;
    background-color: white;
    border: none;
    border-radius: .5rem;
    flex: 1;
    width: 20rem;
  }

  .news-letter-container h2{
    margin: 0;
    margin-bottom: .5rem ;
    background-image:linear-gradient(to right bottom,  rgb(199, 0, 172), rgb(255, 72, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: system-ui;
    font-weight: 100;
  }

  .news-letter{
    border: solid .15rem pink;
    border-radius:.5rem;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    outline: none;
    min-width:1rem;
    max-width: 35rem;
    margin: 0 .9rem;
    caret-color: rgb(255, 164, 194);
    min-width:1rem;
    transition: .30s;
    font-size: medium;
    font-family: system-ui;
    font-size: 1rem;
    font-weight: 100;
  }

  .news-letter input{
    display: flex;
    flex: 1;
  }

  .news-letter::placeholder{
    font-family: system-ui;
    font-size: 1rem;
    font-weight: 100;
  }

  .news-letter:focus{
    padding:.4rem .5rem;
  }

.news-letter-button{
  border:none;
  background-image:linear-gradient(to bottom right,  rgb(248, 129, 252), rgb(255, 184, 78));
   padding: .5rem .7rem;
   border-radius: .31rem;
   color: white;
   backdrop-filter: blur(10px);
   margin: .8rem;
   font-weight: bold;
   white-space: nowrap;
   transition: .30s;
   font-size: larger;
   font-weight: 100;
}

.news-letter-button:hover{
  opacity: .7;
  background-image:linear-gradient(to bottom right,  rgb(218, 76, 223), rgb(235, 152, 27));
  transition: .30s ease-in-out;
}

.news-letter-button:active{
  background: rgb(255, 143, 205);
  opacity: 0.6;
}
